<h1>Results Page</h1>

<p> Forecast today: <%= data.weather_state_name %> </p>
<p> Low temp today: <%= data.min_temp %> </p>
<p> High temp today: <%= data.max_temp %> </p>
<p> Humidity today: <%= data.humidity %> </p>
<p> Wind Speed today: <%= data.wind_speed %> </p>
